
.topBanner{
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.8)),url(./assets/img/Rectangle\ 28.png);
  height: 60vh;
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.main-div h1{
  color: white;
  text-align: center;
  font-size: 70px;
  border: 1px solid white;
  border-radius: 20px;
  padding: 10px;
  
}
.preview{
  padding-top: 50px;
  background-color: rgb(41, 0, 41);
}